.DS_Store?
/themes/.DS_Store
/uploads/*
/plugins/*
/themes/academic_affairs_2013/images/icons/*
/themes/academic_affairs_2013/images/*
/themes/twentyten/*
/themes/twentyeleven/*
/themes/twentytwelve/*
/themes/AcAffairs/*
index.php
/themes/index.php
advanced-cache.php
/cache/*
/upgrade/*
w3-total-cache-config.php
/w3tc-config/*